body{padding:0px;margin:0px;width:100%;height:auto;min-width:480px;}
*{font-size:14px;font-family:Microsoft YaHei;text-align:center;color:#000;}
a{-webkit-tap-highlight-color: transparent;-webkit-touch-callout: none;-webkit-user-select: none;}